<!-- Left Sidebar  -->
<div class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-devider"></li>
                <li>
                    <a class="{{ is_current_path('home') ? 'active' : '' }}" href="{{ path_for('home') }}" aria-expanded="false">
                        <i class="fa fa-home"></i>
                        <span class="hide-menu"> Табло </span>
                    </a>
                </li>
                {{ get_LeftMenu() | raw }}
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</div>
<!-- End Left Sidebar  -->